.nav-wrapper {
	background-color: #0058e8;
}

.splash-overlay-title {
	font-weight: 700;
	font-size: 6vw;
	font-family: sans-serif;
	/*padding*/: 20px auto;
}

.splash-overlay-subtitle {
	font-style: italic;
	font-size: 3vw;
	font-family: serif;
}

.splash-container {
	/*background-color: lightgrey;*/
	background-image: url('http://bsnscb.com/data/out/22/27230051-blackboard-wallpapers.jpg');
	background-size: cover;
	/*background: no-repeat;*/
	/*: auto;*/
	width: 100%;
	position: relative;
}

.splash-container img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.splash-overlay {
	position: relative;
	padding-top: 30%;
	text-align: center;
}