body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav {
    height: 34px;
    line-height: 34px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 34px;
    line-height: 34px;
}

nav .button-collapse i {
    height: 34px;
    line-height: 34px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

#content {
    position: absolute;
    top: 34px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: #ddd;
}

#canvas {
    cursor: crosshair;
    background-color: #fff;
}

#canvasClone {
    cursor: crosshair;
    background-color: #d6d6d6;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 34px;
        line-height: 34px;
    }
}
