.dashboard-outer {
  margin-top: 2rem;
}

.avatar {
  border: 2px solid grey;
  border-radius: 50%;
  height: 100%;
  width: 100%
}

.name {
  font-size: 1.8em;
}

.myBoards {
  font-size: 1.4em;
}

.myTeams {
  margin-top: 10px;
}

.myTeamsHeader {
  font-size: 1.2em;
}

.myTeamsList {
  margin-top: 0px;
}

.recent {
  font-size: 1.5em;
}

.add {
  font-size: 1.1em;
}

.boardImage {
  margin-bottom: 1.5em;
}

/*.searchPhoto {
  max-width: 60px;
}*/

#edit-team {
  width: 80% !important;
}

@media only screen and (min-width: 993px) {
  #edit-team {
    width: 40% !important;
  }
}
